<!doctype html>
<html>
	<head>
		<link rel="shortcut icon" href="http://www.cheyuni.net/img/fabicon.ico" type="image/x-ico">
		<title>Jaram delay</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<link rel="stylesheet" type="text/css" href="http://cheyuni.net/static/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="http://cheyuni.net/static/style.css" />
		<script type="text/javascript" src="http://cheyuni.net/static/jquery.js"></script>
		<script type="text/javascript" src="http://cheyuni.net/static/jquery.popup.js"></script>
		<script type="text/javascript" src="http://cheyuni.net/static/bootstrap.min.js"></script>
		<script type="text/javascript" src="http://cheyuni.net/static/common.js"></script>
		<!-- <script type="text/javascript" src="http://www.startssl.com/seal.js"></script> -->
		<meta charset="utf-8" />
	</head>

	<body id="delay">
		{% block body %}{% endblock %}
	</body>
</html>
